layout {
    cwd "~/Projects/match"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Edit" split_direction="vertical" focus=true {
        pane command="nvim" focus=true size=130
        pane split_direction="horizontal" {
            pane command="npm" {
                args "run" "test" "--" "--watch"
            }
            pane
        }
    }
    tab name="Server" {
        pane command="npm" {
            args "run" "start"
        }
    }
}
