layout {
    cwd "~/Projects/speed-runs/2024-05-skill-up/"
        default_tab_template {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            children
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
    tab name="Edit" split_direction="vertical" focus=true {
        pane command="nvim" focus=true
            pane split_direction="horizontal" {
                pane command="npm" {
                    args "run" "test" "--" "--watch"
                }
                pane
            }
    }
    tab name="Client" {
        pane command="npx" {
            args "nx" "run" "web-ui-day2:serve"
        }
    }
    tab name="Instructions" {
        pane command="mdbook" {
            args "watch" "--open"
        }
    }
    tab name="Serve Score" {
        pane command="npx" {
            args "http-server" "static"
        }
    }
    tab name="Cypress" {
        pane command="npm" {
            args "run" "cypress-open"
        }
    }
    tab name="Storybook" {
        pane command="npx" {
            args "nx" "run" "web-ui-day2:storybook"
        }
    }
    tab name="Documentation" {
        pane command="npm" {
            args "run" "docs:view"
        }
    }
}
